<h1>Room <%= @room.number %> Details</h1>

<ul class="list-group">
  <li class="list-group-item"><strong>Number:</strong> <%= @room.number %></li>
  <li class="list-group-item"><strong>Room Type:</strong> <%= @room.room_type %></li>
  <li class="list-group-item"><strong>Price:</strong> <%= number_to_currency(@room.price) %></li>
  <li class="list-group-item"><strong>Status:</strong> <%= @room.status %></li>
</ul>

<%= link_to 'Back to Rooms', rooms_path, class: 'btn btn-secondary mt-3' %>
